.costItemDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.costItem h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: #fefae1;
}

.costItemPrice {
  font-size: 1rem;
  font-weight: bold;
  color: #e91e63;
  /* color: #fefae1; */
  /* background-color: #2a5b84;
  border: 1px solid white; */
  border: 1px solid #00695f;
  padding: 0.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 580px) {
  .costItemDescription {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .costItemDescription h2 {
    color: #00695f;
    font-size: 1.25rem;
  }

  .costItemPrice {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin-right: 80px;
  }
}

.buttonDelete {
  border: none;
  background-color: #bd8025;
  max-width: 5px;
  height: 30px;
  padding-bottom: 100px;
  margin-right: 10px;
}
.s {
  font-size: 20px;
}
